/* Cores personalizadas */
:root {
  --fundo-page: #bcd0e0;
  --blue-light: #d6eaff;
  --blue-light-medium:#7ca2ca;
  --blue-neon: #00eeff;
  --blue-medium: #90adcb;
  --blue-medium-dark: #005084;
  --blue-dark: #082745;
  --green-medium: #00850f;
  --green-dark: #00610b;
  --orange-medium: #ff9319;
  --orange-light: #fbb127;
  --red-medium: #ad4949;
  --red-dark: #b40000;
  --gray-medium: #6e6e6e;
}

body{
  background-color: var(--fundo-page);
  font-family: 'Source Sans Pro', sans-serif;
}

.btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.p {
  margin: 0;
}

.modal-dialog {
  display: none; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  transition: 0.3s;
  height: 100%; /* Full height */
  width: 100%; /* Full width */
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
}

.modal-confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 5px;
  height: 150px;
  width: 350px;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 80px;
  width: 100%;
}

.modal-header h5{
  font-weight: 600;
  font-size: 18px;
  color: var(--bs-gray-800);
}

.modal-exclamation {
  display: flex;
  justify-content: center;
  width: 95%;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 100%;
}

.btn-yes, .btn-not {
  color: white;
  margin: 0px 20px;
  height: 50px;
  width: 80px;
}

.btn-yes {
  background-color: var(--green-medium);
}
.btn-yes:hover {
  background-color: var(--green-dark);
}

.btn-not {
  background-color: var(--red-medium);
}
.btn-not:hover {
  background-color: var(--red-dark);
}


/*----------------------------*/


.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  width: 800px;
}

.corpo{
  background-color: var(--blue-medium-dark);
  display: grid;
  grid-template-areas: 
    "titulo"
    "forms"
    "list";
  grid-template-columns: 100%;
  grid-template-rows: 70px 5px 295px;
  padding: 1rem 2rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.corpo__title{
  border-bottom: 1px solid rgba(0, 183, 255, 0.952);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;  
  grid-area: titulo;
  grid-row: 1 / 2;
}

.corpo__title span  {
  width: 70px
}

.title{
  color: aliceblue;  
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.btn-newAccount {
  font-size: 18px;
  color: black;
  background-color: var(--orange-light);

  height: 35px;
  width: 60px;
}

.btn-newAccount:hover { 
  background-color: var(--orange-medium);
  color: white;
}

.corpo__form {
  grid-area: forms;
}

.div__form {
  display: none; /* Hidden by default */
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  transition: 0.3s;
  height: 100%; /* Full height */
  width: 100%; /* Full width */
}

.card_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 0px 10px 10px;
  height: 400px;
  width: 635px;
}

.form {
  display: grid;  
  align-items: center;
  grid-gap: 0.3rem 0.5rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30px 60px 60px 80px;
  grid-row: 2 / 3;
  padding: 0.5rem;
  background-color: var(--blue-medium-dark);
  border: 1px solid var(--blue-medium);
  border-radius: 5px;
  width: 100%;
}

.close__form {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
}

.close__form {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close__form i:hover,
.close__form i:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form__nome, .form__date, .form__select, .form__money, .form__button {
  width: 95%;
}

.input__container {
  font-weight: 300;
  position: relative;  
  display: flex;
  align-items: end;
  box-sizing: border-box;
  height: 48px;  
}

.input {
  border: 0;  
  border-bottom: 1px solid var(--blue-dark);
  background: transparent;
  color: var(--blue-neon);
  font-size: 16px;
  padding: 0.2rem 0.5rem 0rem;
  transition: border-color 0.2s;
  width: 100%;
}

.input::placeholder {
  visibility: hidden;
}

.input:focus {
 outline: none;
 border-bottom: 1px solid var(--blue-light-medium);
}

.form__label {
  position: absolute;
  top: 22px;
  left: 0.5rem;
  font-size: 16px;
  transition: all 0.3s;
  color: var(--blue-light);
}

.input:not(:placeholder-shown) + .form__label, .input:focus + .form__label {
  font-size: 12px;
  font-weight: 400;
  top: 0rem;
  color: var(--blue-medium);
}

.form__nome{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.form_select{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.form_money{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.form__date{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.form__button{
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 70px;
  width: 100%;
}

.form__nome:focus, .form__select:focus, .form__money:focus, .form__date:focus{
  background-color: rgb(211, 229, 255);
}

.form__select select{
  color: var(--blue-light);
  background-color: #005084;
  height: 30px;
}

.form__date input{
  color: var(--blue-light);
}

.btn-add {
  background-color: var(--green-medium);
  color: white;
  font-size: 18px;  
  margin-left: 0.25rem;
  height: 40px;
  width: 140px;
}

.btn-add:hover{
  background-color: var(--green-dark);
} 

.btn-add i{
margin: 0px 5px;
}

#label_tipo, #label_date {
  display: none;
  transition: 0.8s;
}

.corpo__painel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.painel__all-money{
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
}

.all-money__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.98;
  width: 30%;
}

.box__text {
  background-color: var(--blue1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #f8f9fa;
  text-align: center;
  margin-bottom: 5px;
  width: 100%;
}

.box__text p {
  font-size: 20px;
  color: var(--blue-light);
}

.box__valor {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  font-size: 18px;  
  text-align: center;
  height: 55px;
  width: 100%;
}

.box__valor p {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin: 0px;
  width: 100%;
}

#v_total {
  color: var(--blue-medium-dark);
}

#v_pago {
  color: var(--green-dark);
}

#v_pend {
   color: var(--red-dark);
}

.painel__mes {  
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  height: 85px;
  width: 100%;
}

.month-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mes__input{
  background-color: transparent;
  border-bottom: 1px solid #0dcaf075;
  border-style: hidden;
  color: white;  
  cursor: pointer;     
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0px 20px;
}

.mes__input:hover{
  background-color: #003f6780;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  font-size: 20px;  
  text-align: center; 
  cursor: pointer;
  transition: 0.1s;
  height: 40px;
  width: 30px;
}

.arrow:hover {
  font-size: 30px;
  color: var(--blue-light);
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-dark);
  color: var(--blue-light);
  font-size: 15px;
  margin-top: 17px;
  padding: 2px;
  height: 35px;
  width: 152px;
}

.btn-search:hover {
  background-color: #0a3a6a;
}

.btn-search i {
  margin-right: 10px;
}

.list__table{
  grid-area: list;
  grid-row: 3 / 4;
}

.table {
  background-color: rgb(255 255 255 / 87%);
  font-size: 16px;
  width: 100%;
}

.table thead {
  background: var(--blue-dark);
  color: var(--fundo-page);
  text-align: center;
  height: 40px;
}


.table thead tr{
  height: 50px;
}

.table thead th {
  padding-top: 15px;
}

.td_data {
  width: 17%;
}

.td_desc {
  width: 32%;
}

.td_type {
  width: 20%;
}

.td_value {
  width: 15%;
}

.td_btn {
  width: 8%;
}

.table tbody tr{
  color: #000;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid;
  border-color: var(--fundo-page);
  height: 50px;
}

.table tbody tr td{
  padding-top: 5px;
}

.table tbody tr:nth-child(2n) {
  background-color: white;
}

.table-buttons {
  width: 55px;
}

.btn-pay, .btn-paid, .btn-del {
  border-radius: 0px;
  padding: 0;
  font-size: 0.8rem;
  height: 30px;
  width: 55px;
}

.btn-pay {
  background-color: var(--gray-medium);
  color: var(--blue-light);
}

.btn-pay:hover {
  background-color: var(--blue-dark);
}

.btn-paid i {
  color: var(--green-medium);
}

.btn-del {
  background-color: var(--red-medium);
}

.btn-del:hover {
  background-color: var(--red-dark);
}

#icon-del {
  display: none;
}

#icon-btn-del {
  display: block;
}

#icon-pay {
  display: none;
}

#icon-btn-pay {
  display: block;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 100px;
  margin-left: 25%;
  width: 300px;
}

.btn-scroll {    
  font-size: 15px;
  background-color: var(--orange-light);
  color: #383838;
  height: 40px;
  width: 50px;
}

.btn-scroll:hover {
  background-color: var(--orange-medium);
  color: white;
}